.card-container {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
}

.question-title {
    color: gray;
}

.question-content {
    color: black;
}

.options-list {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    border: none;
    border-radius: 0px;
    gap: 10px;
    width: 98%;
}

.submit-btn-container {
    justify-content: center;
    margin: 20px;
    display: flex;
}

.submit-btn {
    width: 220px;
    font-family: "Poppins" !important;
    background-color: #FFBF0B !important;
    color: black !important;
}

.togglebutton {
    font-family: "Poppins";
    border: 1px solid lightgray !important;
}

.score-container {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

.emoji {
    font-size: 1.45rem;
}