.card-container {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.question-container {
  padding: 1rem;
}
.question-container-blurred {
  opacity: 0.4;
  padding: 1rem;
}
.question-title {
  color: gray;
}

.question-content {
  color: black;
}

.options-list {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  border: none;
  border-radius: 0px;
  gap: 10px;
  width: 98%;
}

.submit-btn-container {
  justify-content: center;
  margin: 20px;
  display: flex;
}

.submit-btn {
  width: 220px;
  font-family: "Poppins" !important;
  background-color: #ffbf0b !important;
  color: black !important;
}

.togglebutton {
  font-family: "Poppins";
  border: 1px solid lightgray !important;
}

.score-container {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 50px;
}

.emoji {
  font-size: 1.45rem;
}
.githublink {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.progress-bar-container {
  margin-top: -1px;
}

.progress-bar {
  height: 4px;
  background-color: rgba(5, 114, 206, 0.2);
  width: 100%;
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 114, 206);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
